*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: #F3EFED;
    
}

.search{
    position: absolute;
    top: 54%;
    left: 52%;
    width: 80%;
    height: 80%;
    max-width: 100%;
    background:#fff;
    transform: translate(-50%,-50%);
    padding: 50px 50px 70px;
    text-align: center;
    border-radius: 40px;
    box-shadow: -4px 10px 20px 0px #808080;
}

.menu{
    position: absolute;
    top: 50%;
    left: 2%;
    width: 4%;
    height: 100%;
    max-width: 100%;
    background:#011126;
    transform: translate(-50%,-50%);
    padding: 0px 0px 0px;
    text-align: center;
}

.searchitm{
    color: #000;
    font-size: 24px;
    padding: 10px 20px;
    position: absolute;
    top: 10px;
    left: 440px;
    font-family: Poppins,Verdana, Geneva, Tahoma, sans-serif;

}

.input-field{
    max-width: 100%;
    width: 26%;
    height: 12%;
    background: #D9D9D9;
    margin: 10px 20px;
    margin-top: 40px;
    border-radius: 16px;
    display: inline-block;
    align-items: left;
}

input{
    width: 100%;
    max-width: 100%;
    background:transparent;
    border: 0;
    outline: 0;
    padding: 16px 10px;
}

.btn-field input{
    position: absolute;
    left: 42%;
    top: 88%;
    flex-basis: 48%;
    background: #011126;
    color: #fff;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    text-align: center;
    padding: 4px 4px;
    font-size: 12px;
    font-weight: bold;
}

.btn-field input:hover {
    background:#D9D9D9;
    color: #011126;
}

.input-group{
    height: 140px;
}


.header{
    position: relative;
    top:0;
    left:2%;
    background: #D9D9D9;
    max-width: 100%;
    width: 98%;
    height: 8%;
    border: 0px 0px 10px 0px #808080;
}

ul.nav {
    /* Your CSS styles for the ul element with the class "nav" here */
    position: absolute;
    top: 50%;
    left: 0;
    width: 7%;
    height: 100%;
    max-width: 16%;
    background:#011126;
    transform: translate(-50%,-50%);
    padding: 20px 20px 0px; /* Remove list bullet points */
}

ul.nav li {
    position: relative;
	left: 8px;
	top: 180px;
  	display: block;
  	font-size: 20px;
  	padding: 16px 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

ul.nav li a {
    text-decoration: none; 
    color: #F3EFED; 
    margin: 30px;
}

ul.nav li i{
    color: #F3EFED;
    display: block;
    position: absolute;
    top: 0;
    left: 30px;
}
.input-field
select {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  border-radius: 16px;
  height: 42px;
  margin: 2px -4px;
  width: 100%;
  max-width: 100%;
  background:transparent;
  border: 0;
  outline: 0;
  padding: 6px 10px;
}
.input-field input :focus,
.input-field select:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.labels{
    position: absolute;
    top: 70px;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    margin: 2px 34px;
    font-family: Poppins,Verdana, Geneva, Tahoma, sans-serif;
}

.labelss{
    position: absolute;
    top: 150px;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    margin: 18px -268px;
    font-family: Poppins,Verdana, Geneva, Tahoma, sans-serif;
}

.labe{
    position: absolute;
    top: 150px;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    margin: 114px -268px;
    font-family: Poppins,Verdana, Geneva, Tahoma, sans-serif;
}

.lab{
    position: absolute;
    top: 150px;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    margin: 190px -868px;
    font-family: Poppins,Verdana, Geneva, Tahoma, sans-serif;
}


#fileupload{
    position: absolute;
    top: 380px;
    left: 440px;
    color: #333;
    padding: 10px;
    width: 200px;
  }

  .lab{
    position: absolute;
    top: 168px;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    margin: 190px -868px;
    font-family: Poppins,Verdana, Geneva, Tahoma, sans-serif;
}


.labs{
    position: absolute;
    top: 168px;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    margin: 190px -90px;
    font-family: Poppins,Verdana, Geneva, Tahoma, sans-serif;
}

  .input-fields{
    max-width: 100%;
    width: 26%;
    height: 12%;
    background: #D9D9D9;
    margin: -50px 64px;
    margin-top: 40px;
    border-radius: 16px;
    align-items: left;
}

.input-fields
select {
  outline: none;
  font-size: 14px;
  color: #000;
  background: #D9D9D9;
  border-radius: 16px;
  height: 42px;
  margin: 2px -68px;
  width: 100%;
  max-width: 100%;
  background:transparent;
  border: 0;
  outline: 0;
  padding: 6px 10px;
}



